<div *ngFor="let month of monthdata" class="container mx-auto my-10 text-black">
  <div
    *ngIf="month.name === monthChosen"
    class="wrapper bg-white rounded shadow w-full"
  >
    <div class="header flex justify-between border-b p-2">
      <span class="text-lg font-bold">
        {{ monthName }}
      </span>
    </div>
    <div>
      <div>
        <table class="w-full">
          <thead>
            <tr>
              <ng-container
                *ngFor="let weekday of month.weeks[0] | keyvalue : asIsOrder"
              >
                <th
                  class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs"
                >
                  <span class="xl:block lg:block md:block sm:block hidden">{{
                    weekday.key
                  }}</span>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ng-container
                *ngFor="
                  let weekday of month.weeks[0] | keyvalue : asIsOrder;
                  let i = index
                "
              >
                <td
                  class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 transition cursor-pointer duration-500 ease"
                >
                  <ng-container
                    *ngFor="
                      let todo of getTasks(weekday.value);
                      let tIndex = index
                    "
                  >
                    <div
                      [class.completed]="todo.completed"
                      (click)="
                        toggleTodoCompletion(month.name, weekday.key, tIndex)
                      "
                      class="flex hover:bg-gray-300 h-fit my-2 flex-col mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden"
                    >
                      <div class="top h-5 text-lg mb-2 w-full">
                        {{ todo.title }}
                      </div>
                      <p>{{ todo.description }}</p>
                    </div>
                  </ng-container>
                  <p
                    class="bg-red-800 text-white p-4"
                    (click)="addTodoEvent(i)"
                  >
                    Add new todo
                  </p>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer">
                  <div
                    class="event bg-blue-400 text-white rounded p-1 text-sm mb-1"
                  >
                    <span class="event-name">
                      UI design
                    </span>
                    <br/>
                    <span class="desc">
                      further UI design
                    </span>
                  </div>
                </div> -->

<!--  -->

<!-- <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer">
                <div
                  class="event bg-purple-400 text-white rounded p-1 text-sm mb-1"
                >
                  <span class="event-name">
                    Meeting
                  </span>
                  <span class="time">
                    12:00~14:00
                  </span>
                </div>
                <div
                  class="event bg-purple-400 text-white rounded p-1 text-sm mb-1"
                >
                  <span class="event-name">
                    Meeting
                  </span>
                  <span class="time">
                    18:00~20:00
                  </span>
                </div>
              </div> -->
