.linkActive {
  @apply bg-gray-100 dark:bg-gray-600 dark:text-gray-200 text-gray-700;
}
aside {
  transition: 0.5s;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.hover-class {
  background-color: yellow;
  font-weight: bold;
  transition: 0.5s;
  flex-wrap: nowrap;
  white-space: nowrap;
  @apply w-fit ml-0 overflow-hidden h-screen px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700 fixed;
}
