<section class="px-24 py-10">
     <div
       class="h-screen rounded-lg mx-auto p-20 bg-gradient-to-r from-indigo-900 via-blue-900 to-indigo-700"
     >
       <span><h1 class="text-4xl bold mb-8">Your Dashboard</h1></span>
       <div  class="flex">
        <p> Vejret </p>
        <p> Location</p>
        <p> Klokken</p>
        <p> ur</p>
       </div>
       <div class="grid grid-cols-2 gap-4">
         <span class="contentBox">
           <h2 class="contentTitle">Vigtige Datoer</h2>
           <span
             ><p class="mt-2 text-1xl">Albert dåb 3 Septemper</p>
             <p class="mt-2 text-1xl">Albert dåb 3 Septemper</p>
             <p class="mt-2 text-1xl">Albert dåb 3 Septemper</p></span
           >
         </span>
         <span class="contentBox">
             <h2 class="contentTitle">Status</h2>
             <span>
                  <p class="mt-2 text-1xl">Synology Status</p>
                  <p class="mt-2 text-1xl">HomeAssistand Status</p>
             </span>
         </span>
         <span class="contentBox">
             <h2 class="contentTitle">Status</h2>
             <span>
                  <button class="bg-red-200 mt-2 text-1xl">Home Assistant Hub</button>
             </span>
         </span>
         <span class="contentBox">
             <h2 class="contentTitle">Links</h2>
             <span>
                  <button class="bg-red-200 mt-2 text-1xl">Home Assistant Hub</button>
             </span>
         </span>
       </div>
     </div>
   </section>
   