<section>
  <div *ngFor="let month of monthdata">
    <div *ngIf="month.name === monthChosen" class="px-24 py-10">
      <div class="monthSection">
        <div class="text-white grid grid-cols-2 mb-2">
          <h1 class="font-bold text-4xl">
            Noter til {{ month.name }}
            <p class="font-semibold text-base">Tilføj ny note</p>
            <!-- <pre> måned navn {{ month.name | json }}</pre>
            <pre> måned valgt {{ monthChosen | json }}</pre> -->
          </h1>

          <!-- Next -->
          <!-- Lytter til EventEmitteren fra child returnDetailsToParent() -->
          <!-- event binding (returnDetailsToParent)="receiveDetailsFromChild($event)" 
          Dette fortæller Angular at når returnDetailsToParent begivenheden udløses fra Child-komponenten, skal den kalde receiveDetailsFromChild() funktionen i Parent-komponenten og sende begivenhedsdataene ($event) som argument.
        -->
          <!-- #childSelector -->
          <note-form #helloWorld (noteAdded)="routing.fetchDataAndSetMonthData()"></note-form>
        </div>
        <div class="sectionNotes">
          <!-- <p>her</p> -->
          <!-- <pre>data {{ monthdata | json }}</pre> -->
          <!-- <pre>goals {{ month.goals | json }}</pre>
        <pre> måned {{ month.name | json }}</pre> -->
          <div
            *ngFor="let note of month.notes"
            class="contentBox"
          >
            <span class="flex justify-between items-center">
              <p class="text-white text-3xl font-bold">{{ note.title }}</p>
              <div class="flex">
                <!-- Telling parent to update with the 3 parameters below in (note-form.cp.ts) -->
                <!--  (click)="
                releaseEmitDataEvent(
                  note.title,
                  note.category,
                  note.description
                )
              " -->
                <button
                  (click)="
                    helloWorld.updateNote(
                      note.title,
                      note.category,
                      note.description,
                      note._id
                    )
                  "
                  class="hover:border-white text-white bg-[#21262d] p-2 border border-gray-600 rounded-lg"
                >
                  ✅ Opdater
                </button>
              </div>
            </span>
            <span>
              <button class="bg-red-400 p-2 mt-2" (click)="toggleExpand(note)">
                Expand
              </button>
              <p
                [innerHTML]="parseMarkdown(note.description)"
                [class.expanded]="note.expanded"
                [ngClass]="{
                  'h-32': !note.expanded,
                  'overflow-hidden': !note.expanded
                }"
                class="markdown-body text-lg text-gray-400 mt-4 h-32 overflow-hidden"
              >
                {{ note.description }}
              </p>
            </span>
            <span class="mt-3 flex items-center gap-5">
              <p class="text-sm text-gray-400">🔴 {{ note.category }}</p>
              <!--  <a href="#" class="text-sm text-gray-400">⭐ 2</a>
              <p class="text-sm text-gray-400">Dato oprettet</p> -->
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
